.tier2 {
    border: none;
    background-color: white;
    /*background: linear-gradient(180deg, #434343, #000000);*/
    padding: 14px 28px;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    top: -6px;
    color: white;
    margin-right: 5px;
}

.scrollMenu {
  overflow: auto;
  white-space: nowrap;
}

.mainButton {
    /*border: none; #841769*/
    border-width: 2px 2px 2px 2px;
    border-color: #61045f;
    border-radius: 30px;
    background-color: white;
    color: #61045f;
    padding: 16px 30px;
    font-size: 24px;
    cursor: pointer;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 5px;
}

.mainClicked {
    border-width: 2px 2px 2px 2px;
    border-color: #61045f;
    border-radius: 30px;
    /*background-color: #CAC9CA;*/
    background-color: white;
    /*background: linear-gradient(180deg, #868f96, #596164);
    background: linear-gradient(180deg, #42275a, #734b6d);*/
    padding: 16px 30px;
    font-size: 24px;
    cursor: pointer;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #61045f;
    margin-right: 5px;
}

.tier1 {
    border-width: 2px 2px 2px 2px;
    border-color: #61045f;
    border-radius: 30px;
    background-color: white;
    width: 216px;
    /*background: linear-gradient(180deg, #434343, #000000);*/
    padding: 16px 30px;
    font-size: 24px;
    cursor: pointer;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #61045f;
    margin-right: 5px;
    text-align: center;
}

.tier1:hover {background: black; color: white; background: #7f067d;}
.mainButton:hover {background: black; color: black; background: linear-gradient(180deg, #ffafbd, #ffc3a0);}

.default {color: white;}

.redCircle {
  width: 10px;
	height: 15px;
	background: red;
  border-radius: 50%;
}
