.Card {
  /*width: 100%;*/
  height: 36vh;
  width: 25vh;
  text-align: center;
  margin: 7.5px 7.5px;
  position: relative;
  z-index: 0;
  cursor:pointer;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  transition: all .2s cubic-bezier(0, 1.26, .8, 1.28);
}

@media (max-width: 768px) {
  .Card {
    height:42.34vw;
    width:29vw;
  }
}

.Card:hover {
  filter: brightness(0.6);
}

.EndTag {
  position: absolute;
  z-index: 0;
  opacity:0.8;
}

.hoverButtons {
  color: white;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  font-size: 24px;
}
.button {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  margin: 5% 0;
  padding: 5% 5%;
  cursor: pointer;
}
.button:hover {
  background-color: pink;
  color: black;
}
.Image {
  height: 100%;
  /*width: 100%;*/
}
.ImageDark {
  height: 100%;
  filter: brightness(0.3);
}

.ImageHalo {
  height: 100%;
  width: 100%;
  box-shadow: 0px 0px 40px 20px #CC0099;
}

.Paper{
  -webkit-overflow-scrolling:touch;
  overflow:scroll;
}
/*
  padding: 10px;
  border: 1px solid black;
  box-shadow: 0 2px 3px black;
  #0ff
  #A9A9A9

*/
