.menu {
  width: 200px;
  display: flex;
  flex-direction: column;
  background: black;
  /*  #ffffff  */
}
.menu-item {
  cursor: pointer;
  font-size: 18px;
  padding: 5px;
  text-decoration: none;
  border-bottom: 1px solid rgb(187, 187, 187);
  color: white;
}
.menu-item-main {
  position: relative;
  cursor: pointer;
  color: black;
  font-size: 20px;
  padding: 15px 0px;
  /*margin-left: 60px;*/
}
.menu-item-main:hover{
  border-bottom: 2px solid rgb(0,0,255);
}
.menu-item:hover {
  color: #2980b9;
}

.main-menu {
  /*margin: 20px 0;
  padding-left: 100px;
  display: inline-block; Add this*/
  display: flex;
  flex-direction: row;
  background-color: transparent;
  width: 100%;
  /*border-radius: 30px;*/
  justify-content: space-around;
}

.burgerMenu {
  width: 100%;
  display:none;
  justify-content: flex-end;
  margin-top: 1.5%;
}
@media only screen and (max-width: 600px) {
  .main-menu {
    display: none;
  }
  .burgerMenu {
    display:flex;
  }
}

.header {
  margin: 10px 5%;
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;*/
  background-color: white;
}

.container {
    /*position: relative;
    text-align: center;
    color: white;*/
}

.top-left {
    cursor: default;
    position: absolute;
    top: 10px;
    left: 100px;
}

.carousel-text {
  font-size: 80px;
  color: white;
}

.button-style {
  border: 1px blue;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: white;
  font: inherit;
  font-size: 35px;
  color: blue;
  cursor: pointer;
  border-radius: 25px;
  float:left;
}
.button-style:hover{
  background-color: blue;
  color: white;
}
.stretch{
  cursor: pointer;
  width: 100%;
  border-radius: 30px;
}

.carousel {
  margin: 0 5%;
  border-radius: 30px;
}

.container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
