.Kukulkan {
  text-align: center;
  background-color: white;
  min-height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 768px) {
  Kukulkan {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.header {
  height: 8vh;
  background-color: #F0F0F0;
  align-items: center;
  display:flex;
  font-size: 35px;
  justify-content: space-between;
}

.titleWrap {
  background-color: transparent;
  height:100%;
  display: flex;
  align-items: center;
  width: 250px;
  justify-content: center;
  transition: all .2s cubic-bezier(0, 1.26, .8, 1.28);
}

.titleWrap:hover {
  background-color: white;
  border-width:1px;
  border-color:#d6d6d6;
  border-style: none;
  border-radius: 5px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /*width:100%;*/
  background-color: transparent;
  /*margin-right:50px;*/
}

.body {
  /*display: flex;
  flex-direction: column;
  justify-content: space-around;*/
  /*min-height: 95vh;*/
  align-items: center;
  margin-top: 0.5%;
  margin-bottom: 1%;
}

@media (max-width: 600px) {
  .body {
    margin-top: 1.5%;
  }
}
.pack {
  cursor:pointer;
  /*width: 100%;*/
  color: black;
  font-size: 0.8em;
  display: flex;
  justify-content: flex-start;
  padding-left: 10%;
  margin: 3% 0;
}
.pack:hover {
  color: white;
  background-color:black;
  /*#e1e3e8*/
}

.text {
  text-decoration: none;
}
.cards {
  align-items: center;
  margin-top: 10px;
}

.backButton {
  cursor: pointer;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.burgerMenu {
  cursor: pointer;
  margin-right: 3%
}
.downTriangle {
  width: 12px;
  height: 12px;
  margin-left: 5px;
  background-color: black;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.paper {
  position: relative;
  z-index:1;
}
