.rob-font{
  font-family: 'Roboto';
  font-weight:100;
}

.desktop-heading{
  font-size: 32px;
  margin:0;
  padding:0;
}

.mobile-heading{
  font-size: 24px;
  font-weight: normal;
  width: 100%;
  margin: 0;
  margin-top: 5%;
  margin-left: 4%;
  margin-bottom: 5%;
  padding:0;
}
.mobile-list{
  list-style-type: disc;
  list-style-position: inside;
  text-indent: 0.8em;

}
.desk-sub{
  margin-left: 10%;
}
.prices-main{
  display: inline-flex;
  margin-left: 4%;
  width: 100%;
}
.prices-main-mob{
  margin-left: 4%;

}
.avg-mob{
  padding: 0;
  margin: 0;
}
.range-mob{
  margin-top: 22%;
}
.avg-mob-price{
  padding: 0;
  margin: 0;
  font-size: 20px;
}
.prices-main-sub1{
  margin-right: 10%;
}
.prices-main-sub1-mob{
  font-weight: normal;
}

.desktop-description{
  margin-left: -36%;
}

.price-font{
  font-size:20px;
  font-weight: normal;
}
.description-mob{
  font-weight: normal;
}
