.wrap{
  position: fixed;
   bottom: 1%;
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
}
.style-pop{
  font-size: 20px;
  text-align: center;
}
.icon{
  cursor: pointer;

}
.wrap{
  bottom: -100px;
}
.icon:hover{
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.popup{
  max-height: 1000px;
  width: 100%;
}



.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
  margin-left: auto;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
