@font-face {
  font-family: 'D-DIN Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('D-DIN Condensed'), url('./assets/fonts/D-DINCondensed.otf') format('opentype');
}

body {
  margin-top: 0px;
  padding: 0;
  font-family: 'D-DIN Condensed';
  background-color: #F8F8F8;
  /*background: linear-gradient(180deg, #ff9a9e, #fad0c4);*/
}
